@font-face {
    font-family: "archivo";
    src: url("/assets/Archivo-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: "martianmono";
    src: url("/assets/MartianMono-VariableFont_wdth,wght.ttf");
}

body {
    --zwart: #222226;
    --grijs: #666666;
    --wit: #FFFFFF;
    --blauw: rgb(54, 75, 247);

    --border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: "archivo";
    font-size: 1rem;

    @media (width > 30rem) {
        font-size: 1.25rem;
    }

    @media (width > 48rem) {
        font-size: 1.5rem;
    }
}
p.label {
    font-weight: light;
    border: var(--border);
    padding: 4px;
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;

    abbr {
        text-decoration: none;
    }
}
p.data {
    font-family: "martianmono";
    font-size: 1rem;
    text-transform: uppercase;
}

a {
    font-family: "martianmono";
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    color: var(--zwart);
}
a.blauwe-link {
    color: var(--blauw);
}

h1 {
    font-family: "archivo";
    font-size: 3em;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 600;

    @media (width > 30rem) {
        font-size: 4rem;
    }

    @media (width > 48rem) {
        font-size: 6rem;
    }


}

h2 {
    display: none;
}

h3 {
    font-family: "archivo";
    text-transform: uppercase;
    font-size: 2rem;
    hyphens: auto;

    @media (width > 30rem) {
        font-size: 2.5rem;
    }

    @media (width > 48rem) {
        font-size: 3rem;
    }
}

li {
    list-style-type: none;
}